{% extends 'blog/base_test.html' %}

<style type="text/css">
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('static/img/cafe1.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 600px;
}
</style>

{% block content %}
      <section class="jumbotron">
          <div class="container">
            <div class="row text-center">
              <h2>V Eventos</h2>
              <h3>prazer em servir</h3>
            </div>
          </div>
      </section>
{% endblock content %}
